/*Style sheet for the JFN WebReport */
p {
  font-family: 'latoregular', sans-serif;
  color: #455a64;
}
input[type=submit] {
  font-family: 'latoregular', sans-serif;
  padding: 10px 24px;
  cursor: pointer;
}
input[type=reset] {
  font-family: 'latoregular', sans-serif;
  padding: 10px 24px;
  cursor: pointer;
}
input[type=text] {
  font-family: 'latoregular', sans-serif !important;
}
#error-msg {
  font-family: 'latoregular', sans-serif;
  color: red;
  font-size: small;
}
/*General */
.ui-tabs .ui-tabs-nav li a {
  padding-top: 2px !important;
  padding-bottom: 4px !important;
}
.ui-datatable table tbody td {
  padding: 5px 0px !important;
}
.ui-datalist-empty-message {
  font-size: 14px !important;
}
.ui-lightbox-content {
  background-color: #FFFFFF !important;
}
.ui-accordion .ui-accordion-content {
  overflow: visible !important;
}
.ui-datalist .ui-datalist-empty-message {
  padding: 0px !important;
}
.horizontal {
  display: inline;
  float: left;
  width: auto;
  padding-top: 0px !important;
}
.hide-column-names table thead tr {
  display: none;
}
.general-tooltip {
  font-size: smaller;
}
.hidden-width-helper {
  display: none;
}
.ui-datatable-scrollable .ui-datatable-scrollable-footer {
  display: none;
}
.ui-panelgrid {
  border: none!important;
}
.ui-panelgrid tbody tr td {
  border: none !important;
}
.ui-panelgrid .ui-panelgrid-cell {
  padding: 0!important;
  text-align: center;
}
.ui-fieldset {
  padding-top: 10px!important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}
.dialog-sentences {
  width: 100%;
  position: fixed;
  bottom: 0 !important;
  left: 0!important;
  right: 0!important;
  display: inline-table;
  padding: 0!important;
}
.dialog-sentences .ui-panel-content {
  padding: 0 !important;
}
.dialog-sentences .icon-mini {
  padding: 0;
}
.dialog-mini {
  width: 280px !important;
  position: fixed;
  bottom: 0 !important;
  left: 0!important;
  right: 0!important;
  display: inline-table;
}
.dialog-mini .icon-mini {
  background-position: -16px -128px !important;
  padding-top: 2px !important;
  padding-right: 1px!important;
}
.my-icon-close {
  padding-top: 3px !important;
  padding-right: 2px!important;
}
.my-icon {
  background-image: url("/javax.faces.resource/images/ui-icons_4eb305_256x240.png.jsf?ln=primefaces-adamantium") !important;
}
.clear-btn {
  color: white !important;
  background-color: #66bb6a;
  padding-right: 14px;
  padding-left: 4px;
  font-weight: normal;
}
.clear-btn:hover {
  text-decoration: none;
}
/*Tabs*/
.tab-layout {
  border: none !important;
}
/*Home page*/
.btn-home {
  margin: 1px;
}
/*Search */
.tooltip-status {
  border-bottom: 1px dashed #999;
}
.searchBar {
  width: 450px !important;
}
.toolbar-jfn {
  margin-right: 20px;
}
.autocomplete-jfn {
  padding: 10px 0;
}
.toolbar-btn-search {
  margin-top: 5px;
}
.frame-list {
  padding: 10px 10px 0px 3px;
}
.result-lu {
  padding: 10px 10px 10px;
}
.tooltip-status-mark {
  font-size: x-small;
  padding-left: 3px;
  padding-right: 10px;
}
/*Index */
.element-index {
  line-height: 20px;
  padding-left: 5px ;
  text-decoration: none !important;
}
.element-index:hover {
  line-height: 20px;
  padding-left: 5px ;
  text-decoration: underline !important;
}
.sub-element-index {
  margin-left: 10px;
  font-size: smaller;
}
/*Annotated Sentences */
.annotation {
  background-color: #F5F5F5 !important;
}
.annotation-table {
  width: auto;
  text-align: center;
  border: none;
}
.column-annotation {
  text-align: center;
  border: none!important;
  padding: 0!important;
  background-color: transparent!important;
  width: auto;
}
.display-sent {
  background-color: transparent!important;
}
.bottom-panel {
  position: relative;
  bottom: 0;
}
.remove-link:hover .ui-icon-minusthick {
  background-position: -96px -128px !important;
}
.lex-unit-name {
  margin-right: 10px;
  font-size: smaller;
}
.word {
  white-space: nowrap;
}
.target {
  font-weight: bold;
}
.focus {
  font-weight: bold;
  border: solid 1px #66BB6A;
}
.lu-focus {
  border: solid 1px #66BB6A;
  padding-left: 1px;
  padding-right: 1px;
}
/*Document*/
.paragraph {
  width: auto!important;
  text-align: center!important;
  border: none!important;
}
.paragraph-link {
  text-decoration: underline;
  font-weight: normal;
  white-space: nowrap;
}
.doc {
  width: 100%;
}
/*Frame*/
.frame-element {
  background-color: transparent!important;
  border: none!important;
  width: 20%;
  vertical-align: top;
}
.frame-element-def {
  background-color: transparent!important;
  border: none!important;
}
.core-set {
  padding-left: 3px;
  padding-right: 10px;
}
.list-lu {
  padding-left: 5px;
  padding-right: 10px;
}
/*LexUnit*/
.filter-btn {
  border: solid 1px #E0E0E0;
  color: #546e7a;
}
.all-btn {
  background-color: #fcf2f2;
}
.all-btn:hover {
  background-color: #f5d8c6;
}
.core-btn {
  background-color: #EDF2F5;
}
.core-btn:hover {
  background-color: #c6e3f5;
}
.non-core-btn {
  background-color: #EEF5ED;
}
.non-core-btn:hover {
  background-color: #cbf5c6;
}
.main-btn {
  width: 20%;
  margin-bottom: 4px;
}
.real-btn {
  margin-left: 2px;
}
.element-btn {
  width: 100%;
}
.element-column {
  border: none!important;
  background-color: transparent!important;
  width: 25%;
}
.real-column {
  border: none!important;
  background-color: transparent!important;
}
.selected-filter {
  margin: 2px;
}
.allReal {
  padding-bottom: 10px;
}
.valence-pattern-column {
  background-color: transparent!important;
  border: none!important;
}
.valence-pattern {
  border-top: solid 1px #d9e3e8;
}
.total-vp-column {
  text-align: center;
  border: none!important;
  background-color: transparent!important;
  width: 30px;
}
.total-vp {
  color: #546E7A;
  font-weight: bold;
  text-decoration: none!important;
}
.list-fe-vp {
  text-align: center;
  background-color: transparent !important;
  border: none!important;
  width: 120px;
  padding: 0;
}
.underline-tag {
  border-bottom: solid 1px !important;
}
.real-button:hover div {
  background-color: #F5F5F5;
}
.vpstyle {
  float: left;
  width: 130px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.vpstyleNumber {
  float: left;
  width: 30px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

