/*Style sheet for the JFN kwic */
.tree-table-no-border {
  border: none;
}
.frame-tree thead {
  display: none;
}
.frame-tree table tbody tr td {
  border: none;
}
.frame-tree [role='tab'] {
  background-color: #ffffff;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.frame-tree [role='tab'].ui-state-active {
  background-color: #ffffff;
  /*TODO keep color when hover*/
}
.frame-tree [role='tabpanel'] {
  margin-top: -5px;
  padding: 0px!important;
  margin-left: 15px;
  border-left: 1px solid #546e7a;
  border-bottom: 1px solid #546e7a;
}
/*
.frame-tree .ui-treetable-indent {
  width: 8px;
  border-left: 1px solid #546e7a;
  margin-left: 7px;
}
*/
.tree-table-no-header span {
  /*TODO make arrow the same */
}
.icon-btn {
  width: 100%;
  float: left;
  background-color: #ffffff;
  margin: 0px;
  color: #546e7a;
  text-align: left;
}
.icon-btn td {
  padding: 0px;
}

