/*Style sheet for the JFN kwic */
.structural-table thead {
  display: none;
}
.structural-table table tbody tr td {
  border: none;
}
.structural-table {
  border: none;
}
.frame-accordion .ui-accordion-header {
  background-color: #ffffff;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
}
.frame-accordion .ui-accordion-header:hover {
  background-color: #f5f5f5!important;
}
.frame-accordion .ui-accordion-header.ui-state-active {
  background-color: #ffffff;
}
.frame-accordion .ui-accordion-content {
  margin-top: -5px;
  padding: 0px!important;
  margin-left: 15px;
  border-left: 1px solid #546e7a;
  border-bottom: 1px solid #546e7a;
}
.fe-btn {
  width: 100%;
  background-color: #ffffff;
  color: #546e7a;
  text-align: left;
  line-height: 1;
  padding: 10px 7px;
}
.fe-btn .ui-button-text {
  padding: 0px!important;
  margin-left: 23px;
}
.fe-btn .ui-icon {
  left: 0px;
  margin-left: 8px;
  font-size: 90%;
}
.fe-btn.ui-state-hover {
  background-color: #f5f5f5;
}
.KwicButton {
  width: 100%;
}
.compact-table table tbody td {
  padding: 0px !important;
}
.concordancer .ui-icon-check {
  border-bottom: solid 3px #66BB6A;
  border-right: solid 3px #66BB6A;
}
.kwicOutput .ui-paginator {
  background-color: #66BB6A;
  color: #546e7a;
  font-size: 12px;
}
.kwicOutput table tbody {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.kwicOutput table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.kwicOutput thead {
  display: none;
}
.Wid15 {
  width: 15%;
}
.Wid65 {
  width: 65%;
}
.FlexContainer {
  display: flex;
}
.Flex15 {
  flex: 15%;
}
.Flex70 {
  flex: 70%;
}

