<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/jfnwat</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="jp.keio.jfn.wat.domain.AnnotationSet"/>
        <mapping class="jp.keio.jfn.wat.domain.AnnotationStatus"/>
        <mapping class="jp.keio.jfn.wat.domain.Color"/>
        <mapping class="jp.keio.jfn.wat.domain.ConstructElement"/>
        <mapping class="jp.keio.jfn.wat.domain.Construction"/>
        <mapping class="jp.keio.jfn.wat.domain.Corpus"/>
        <mapping class="jp.keio.jfn.wat.domain.Document"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.DocumentGenre"/>
        <mapping class="jp.keio.jfn.wat.domain.FERelation"/>
        <mapping class="jp.keio.jfn.wat.domain.FERelationType"/>
        <mapping class="jp.keio.jfn.wat.domain.Frame"/>
        <mapping class="jp.keio.jfn.wat.domain.FrameElement"/>
        <mapping class="jp.keio.jfn.wat.domain.FrameRelation"/>
        <mapping class="jp.keio.jfn.wat.domain.Genre"/>
        <mapping class="jp.keio.jfn.wat.domain.InstantiationType"/>
        <mapping class="jp.keio.jfn.wat.domain.Label"/>
        <mapping class="jp.keio.jfn.wat.domain.LabelPos"/>
        <mapping class="jp.keio.jfn.wat.domain.LabelType"/>
        <mapping class="jp.keio.jfn.wat.domain.Layer"/>
        <mapping class="jp.keio.jfn.wat.domain.LayerType"/>
        <mapping class="jp.keio.jfn.wat.domain.Lemma"/>
        <mapping class="jp.keio.jfn.wat.domain.LexUnit"/>
        <mapping class="jp.keio.jfn.wat.domain.Lexeme"/>
        <mapping class="jp.keio.jfn.wat.domain.LexemeEntry"/>
        <mapping class="jp.keio.jfn.wat.domain.MetaRelation"/>
        <mapping class="jp.keio.jfn.wat.domain.MetaRelationType"/>
        <mapping class="jp.keio.jfn.wat.domain.MiscLabel"/>
        <mapping class="jp.keio.jfn.wat.domain.Note"/>
        <mapping class="jp.keio.jfn.wat.domain.NoteLink"/>
        <mapping class="jp.keio.jfn.wat.domain.NoteType"/>
        <mapping class="jp.keio.jfn.wat.domain.Paragraph"/>
        <mapping class="jp.keio.jfn.wat.domain.PartOfSpch"/>
        <mapping class="jp.keio.jfn.wat.domain.ReFraming"/>
        <mapping class="jp.keio.jfn.wat.domain.RelationType"/>
        <mapping class="jp.keio.jfn.wat.domain.RevisedLus"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.StInherit"/>
        <mapping class="jp.keio.jfn.wat.domain.SemanticType"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.SemanticTypeFrame"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.SemanticTypeFrameElement"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.SemanticTypeLexUnit"/>
        <mapping class="jp.keio.jfn.wat.domain.Sentence"/>
        <mapping class="jp.keio.jfn.wat.domain.Sequence"/>
        <mapping class="jp.keio.jfn.wat.domain.Status"/>
        <mapping class="jp.keio.jfn.wat.domain.StatusType"/>
        <mapping class="jp.keio.jfn.wat.domain.SubCorpus"/>
        <mapping class="jp.keio.jfn.wat.domain.WordForm"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>