<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/jfnwat</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="jp.keio.jfn.jfnwat.domain.AnnotationSet"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.AnnotationStatus"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Color"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.ConstructElement"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Construction"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Corpus"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Document"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.DocumentGenre"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.FERelation"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.FERelationType"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Frame"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.FrameElement"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.FrameRelation"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Genre"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.InstantiationType"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Label"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.LabelPos"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.LabelType"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Layer"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.LayerType"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Lemma"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.LexUnit"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Lexeme"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.LexemeEntry"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.MetaRelation"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.MetaRelationType"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.MiscLabel"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Note"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.NoteLink"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.NoteType"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Paragraph"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.PartOfSpch"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.ReFraming"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.RelationType"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.RevisedLus"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.StInherit"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.SemanticType"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.SemanticTypeFrame"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.SemanticTypeFrameElement"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.SemanticTypeLexUnit"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Sentence"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Sequence"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.Status"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.StatusType"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.SubCorpus"/>
        <mapping class="jp.keio.jfn.jfnwat.domain.WordForm"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>